@{
    ViewBag.Title = "About Us";
}

<h1>About</h1>
<hr />


    <h3>Activities</h3>
<p>
    Activities are the main feature of Green O'Clock. Think of an activity as a task or goal.<br />
    You can choose an active activity to begin recording your time spent. When you are finished, stop the activity and describe what you did. <br />
    <br />
    There are two main types of activities: group and personal.<br />
    A personal activity is a task which only you can see. You can use these to record time spent working on anything.<br />
    Group activities are the same as personal activities, except they are intended for multiple people. 
    Any number of people can work on the same group activity, and everyone's progress is stored separately.
</p>
    <h3>Companies</h3>
<p>
    Creating a company is the first step in setting up a Green O'Clock group. Within a company, employees are divided into roles. The three roles are "Owner", "Manager", and "Employee".<br />
    An owner can do anything to the company, while employees can only create and work on group activities.<br />
    Members of a company can "clock-in" to a group activity when they begin working. Their time spent working is recorded in a database for later use.<br />
    Managers can view the progress that any employee has made for their company on another page.
</p>

