@model GreenOClock.Mvc.Models.Progresses.ProgressesViewModel

@{
    ViewBag.Title = "CompanyEmployeeProgress";
}

<h1>Employee Progress</h1>
<hr />
@foreach (var progress in Model.ProgressViewModels)
{
    progress.
}